---
layout: base
title: The Paciello Group HTML Demos
---
{% include path %}
<section>
	<header>
		<h1>The Paciello Group HTML Demos</h1>
	</header>
	<p>This is a collection of demos of how to make standard HTML (i.e. non-interactive) idioms accessible.  It is all clean HTML with no frameworks used.  There is an Atom Feed and the articles are tagged and feature links to relevant parts of the W3C's WCAG documentation.</p>
	<p>For more information, please visit <a href="http://github.com/thepaciellogroup/html-demos/">the GitHub repository</a>.</p>

	<h2>Articles</h2>
	<ul>
	{% for post in site.posts %}
		<li>{{ post.date | date: "%Y-%m-%d" }}: <a href="{{ BASE }}{{ post.url }}">{{ post.title }}</a> ({{ post.tags | array_to_sentence_string }})</li>
	{% endfor %}
	</ul>
</section>
